#footer {
 -fx-background-color: #efeded;
 -fx-border-width: 1 0 0 0;
 -fx-border-color: #A9A9A9;
}
.stack-pane{
 -fx-padding: 50px;
}
.scroll-pane{
 -fx-padding:0px;
 -fx-background-insets:0px;
}
.scroll-pane:focused{
 -fx-padding:0px;
 -fx-background-insets:0px;
}
.button{
 -fx-color:#ffffff;
 -fx-padding:4px,0px,4px,0px;
 -fx-border-color:#A9A9A9;
 -fx-wrap-text:true;
 -fx-text-alignment:center;
 -fx-background-color:#efeded;
}
.button:toast{
 -fx-color:#000000;
 -fx-background-color:#00704a;
}
.label{
 -fx-font-family:Veranda;
}
.label:title{
 -fx-font-weight:bold;
 -fx-font-size:20px;
}
.label:subtitle{
 -fx-font-weight:bold;
 -fx-font-size:18px;
}
.label:column{
 -fx-font-weight:bold;
 -fx-font-size:13px;
}

.label:textStyle{
 -fx-border-width: 3;
 -fx-border-color:#A9A9A9;
 -fx-text-origin: top;
 -fx-text-alignment: left;
 -fx-vertical-alignment: top;
 -fx-color:#000000;
}